:root {
	/* :root is a clever way of saying "the outer-most element" */

	--pulse-speed: 0.5s; /* the default */
}
.title {
	font-family: 'Inknut Antiqua', serif;
	color: white;
	text-align: center;
	padding: -10;
	margin: 0;
	font-size: 50px;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.sub-title {
	font-family: 'Inknut Antiqua', serif;
	color: white;
	text-align: center;
	padding: -10;
	margin: 0;
	font-size: 20px;
}
